.score-table {
	padding: 0 8px;
	margin: 0 auto;
}
.score-table h1 {
	text-align: center;
	text-decoration: underline wavy;
	text-underline-offset: 12px;
	margin: 2rem;
}

@media screen and (min-width: 600px) {
	.score-table {
		max-width: 80%;
		padding: 0 24px;
	}
}
@media screen and (min-width: 1024px) {
	.score-table {
		max-width: 60%;
	}
}
